header {
  background: linear-gradient(to top, #ffffff 10%, #f91dc5 90%);
  color: #ffffff;
  text-shadow: 2px 2px black;
  position: absolute;
  top: 0;
  width: 100vw;
}

header img {
  position: fixed;
  top: 0;
  right: 0;
  width: 8rem;
  margin: 1rem;
}

main {
  margin: 10% 5%;
  color: black;
  text-align: justify;
}
footer {
  background: linear-gradient(to top, #f91dc5 10%, #ffffff 90%);
  position: fixed;
  bottom: 0;
  width: 100vw;
}
